*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: inter, sans-serif;
}

header {
    border-bottom: 1px solid rgb(207, 206, 206);
}


#headertop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    background-color: rgba(196, 193, 193, 0.573);
    font-size: 0.8rem;
    color: grey;
}

#headerbottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#logo img {
    height: 2rem;
}

#logo span {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.searchbar {
    display: none;
}

#headerlinks {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

#headerlinks a {
    color: rgb(87, 103, 176);
}

#sbag {
    position: relative;
}

.count {
    background-color: rgb(42, 210, 68);
    color: white;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 75%;
    width: 1rem;
    height: 1rem;
    border: 1px solid;
    position: absolute;
    top: 0;
    right: 0;
    translate: 50% -20%;
}

#headercategories {
    display: none;
}


@media (min-width:576px) {
    
}

@media (min-width:768px) {

}

@media (min-width:992px) {

    #menuicon {
        display: none;
    }

    #headercategories {
        padding-bottom: 1rem;
        display: flex;
    }

    #headercategories .container {
        display: flex;
        flex-direction: row;
        gap: 0.rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-list {
        position: absolute;
        display: none;
        background-color: white;
        min-width: 200px;
        border-radius: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .dropdown-list a {
        padding: 12px;
        display: inline-block;
        color: grey;
    }
    
    .dropdown:hover .dropdown-list {
        display: block;
    }
    
    .dropdown-list:hover a {
        background-color: white;
    }
    

    .alldepartmentbutton {
        background-color: #0AAD0A;
        border: 1px solid;
        border-radius: 10px;
        color: #FFFFFF;
        font-weight: bold;
        transition: all ease-in 0.3s;
        cursor: pointer;
    }

    .alldepartmentbuttontext {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
        padding: 9px 24px;
        font-size: 1rem;
    }

    .alldepartmentbutton:hover {
        background-color: green;
    }

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
        padding: 0 1.5rem;
        background-color: transparent;
        border: none;
    }

    .buttonspan {
        transition: all ease-in ;
        font-weight: bold;
    }

    .buttonspan:hover {
        color: #0AAD0A;
    }

    #expand_more {
        font-size: 16px;
    }

    .searchbar {
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5px 1px;
        border-radius: 8px;
        border: 1px solid rgb(216, 208, 208);
    }

    #searchbox {
        width: 100%;
        border: 1px;
        padding-left: 1rem;
        outline: none;

    }

    #searchicon {
        padding: 0.5rem 0.5rem;
    }

}

@media (min-width:1200px) {
    
}


